* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Montserrat-Regular;
}

:root {
  --primary-color: #3c096c;
  --secondary-color: #aeb8fe;
}

body {
  background-color: var(--secondary-color);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(/app/assets/fonts/Montserrat-Regular.ttf);
}
